
.banner{
  padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  background-image: url("background.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align:center;
  align-items: center;
}
.banner .Banbox {
  width: 100%;
  text-align:center;
  align-items: center;
}
.banner .Banbox .tagline {
  font-weight: 700;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 188, 0.5));
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner .Banbox h1{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  width: 96%;
}
.banner button {

  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  width: 220px;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  height: 60px;
}
.banner .Banbox button a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.banner .Banbox button svg {
  font-size: 15px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}
.banner .Banbox button:hover  svg {
  margin-left: 15px;
}
.banner .btn{
  background-color: black;
  border: 2px solid #fff;
  padding: 15px;
  font-size: 18px;
}
.banner img {
  animation: updown 3s linear infinite;
  width: 300px; 
  padding: 10px;
}
@media only screen and (max-width: 464px) {
  .banner{
   padding: 90px 0 70px 0;
   align-items: center;
   width: 100%;
  }
  .banner img{
    width: 200px;
    text-align: center;
    align-items: center;
    animation: none;
  }
  .banner p {
    font-size: 14px;
    max-width: 370px;
  }
  .banner .tagline{
    max-width: 370px;
    font-size: 16px;
  }
  .banner h1{
    max-width: 370px;
    font-size: 19px;
  }
  .banner button {
    width: 220px;
    height: 60px;
  }
}

@keyframes updown {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}

