
/* src/App.css */
.outline{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  
}
.navi {
  width: 100%;
  height: 90px;
  background: #000;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100000;
}
.outlet {
  display: flex;
  justify-content: center;
}

.navi{
  padding: 15px;
  width: 100%;
}
.navigation {
  padding: 15px;
  height: 90px;
  width: 100%;
  justify-content: center;
 
  display:flex;
  align-items: center;
  background-color: #000;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  z-index: 99999999;
}
.logoWeb{
  height: 60px;
    width: 120px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
ul li a{
  color: white;
  text-decoration: none;
}
span.navbar-text{
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a{

  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 5px;
}
.social-icon a::before{
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img{
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button a{
  text-decoraion: none;
  color: #fff;
}
.navbar-text button::before{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: "fff";
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover{
  color: #121212;
}
.navbar-text button:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.image{
  width: 50px;
  padding-right: 15px;
}
.menu-trigger img{
  overflow: hidden;
  cursor: pointer;
}
 
.dropdownmenu{
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: black;
  width: 200px;
  padding: 10px 20px;
  border-radius: 15px;
}
.dropdownmenu::before{
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
}
.dropdownmenu.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transform: translateY(0);
}
.dropdownmenu.deactive{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-20px);
}
h3{
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 1.2rem;
}
h3 span{
  font-size: 14px;
  color: grey;
  font-weight:400px;
}
.dropdownmenu ul li{
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.5);
}
.dropdownmenu ul li:hover{
  cursor: pointer;
  color: purple;
}
.dropdownmenu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownitem{
  display: flex;
  margin: 10px auto;
}
.dropdownitem:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.dropdownitem img {
  max-width: 20px;
  margin-right: 10px;
  obacity: 0.5;
  transition: 0.5s;
}
.dropdownitem .link{
  font-size: 15px;
  margin-left: 10px;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}
.vvd{
  width: 190px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}
.vvd:hover{
  background: black;
}
.vvd a {
  text-decoration: none;
}
@media only screen and (min-width: 1300px) {
  .navigation {
    width: 1300px;
  }
  .outlet{
    width: 1300px;
  }
}
@media only screen and (max-width: 464px){
    .logoWeb{
       height: 50px;
        width: 90px;
    }

  
    ul{
        display: none;
    }
    .navbar-text button{
      display: none;
    }
    .social-icon {
      display: none;
    }
    .navi {
     width: 100%;
    }
}

@media only screen and (min-width: 465px) {
  .menu-trigger{
    display: none;
  }
  .dropdownmenu{
    display: none;
  }
}

