.navi{
  padding: 15px;
  width: 100%;
}
.navigation {
  padding: 15px;
  height: 90px;
  width: 1130px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  transition: 0.3s;
  z-index: 9999;
}
.logoWeb{
  height: 60px;
    width: 120px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
ul li a{
  color: white;
  text-decoration: none;
}
span.navbar-text{
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a{
